body {
	margin: 0;
}
.main-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100vh;
	row-gap: 1rem;
	column-gap: 1rem;
}
.feed {
	overflow: scroll;
	background-color: aqua;
}
.feed-source {
	border: 1px solid black;
	min-height: 175px;
	min-width: 175px;
}
.source1 {
	background-color: rgb(13, 206, 236);
}
.source2 {
	background-color: purple;
}
.source3 {
	background-color: orange;
}
.source4 {
	background-color: green;
}
.source5 {
	background-color: red;
}
